<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Brand</title>
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/style_sass.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header class="header">
            <div class="conteiner header_conteiner">
                <figure class="header_left">
                    <a href="#" class="logo">
                        <img class="logo_img" src="../images/logo.png" alt="logo">
                        BRAN<span class="d_logo">D</span>
                    </a>
                    <form action="#" class="header_form">
                        <div class="browse">
                            Browse &#9660
                            <div class="search_details_drop_down">
                                <ul class="search_details_drop_down_list">
                                    <li class="search_details_drop_down_list_li_gender"><a href="#">Women</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Dresses</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Tops</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Sweaters/Knits</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Jackets/Coats</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Blazers</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Denim</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Leggings/Pants</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Skirts/Shorts</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Accessories</a></li>
                                    <li class="search_details_drop_down_list_li_gender"><a href="#">Men</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Tees/Tank tops</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Shirts/Polos</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Sweaters</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Blazers</a></li>
                                    <li class="search_details_drop_down_list_li"><a href="#">Jackets/vests</a></li>
                                </ul>
                            </div>
                        </div>
                        <input class="user_text" type="text" placeholder="Search for Item...">
                        <button class="header_button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </figure>
                <figure class="header_right">
                    <img src="../images/Forma_1.png" alt="forma_1">
                    <a href="#">My Account</a>
                </figure>
            </div>
        </header>
        <nav>
            <div class="conteiner_menu">
                <ul class="menu">
                    <li class="menu_list"><a href="#" class="menu_link">Home</a>
                        <div class="nav_drop_box">
                            <div class="nav_drop_box_arrow"></div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                                <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                </ul>
                                <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                            </div>
                        </div>
                    </li>
                    <li class="menu_list"><a href="#" class="menu_link">Man</a>
                        <div class="nav_drop_box">
                            <div class="nav_drop_box_arrow"></div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                                <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                                </ul>
                                <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                            </div>
                        </div>
                    </li>
                    <li class="menu_list"><a href="#" class="menu_link">Women</a>
                        <div class="nav_drop_box">
                            <div class="nav_drop_box_arrow"></div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                                <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                                </ul>
                                <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                            </div>
                        </div>
                    </li>
                    <li class="menu_list"><a href="#" class="menu_link">Kids</a>
                        <div class="nav_drop_box">
                            <div class="nav_drop_box_arrow"></div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                                <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                                </ul>
                                <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                            </div>
                        </div>
                    </li>
                    <li class="menu_list"><a href="#" class="menu_link">Accoseriese</a>
                        <div class="nav_drop_box">
                            <div class="nav_drop_box_arrow"></div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                                <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                                </ul>
                                <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                            </div>
                        </div>
                    </li>
                    <li class="menu_list"><a href="#" class="menu_link">Featured</a>
                        <div class="nav_drop_box nav_drop_box_featured">
                            <div class="nav_drop_box_arrow nav_drop_box_arrow_featured"></div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                                <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                                </ul>
                                <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                            </div>
                        </div>
                    </li>
                    <li class="menu_list"><a href="#" class="menu_link"> Hot Deals</a>
                        <div class="nav_drop_box nav_drop_box_hot_deals">
                            <div class="nav_drop_box_arrow nav_drop_box_arrow_hot_deals"></div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                                <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                </ul>
                            </div>
                            <div class="nav_drop_flex">
                                <h3 class="nav_drop_header">Women</h3>
                                <ul class="nav_drop_header_menu">
                                    <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                    <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                </ul>
                                <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="brand_banner">
            <div class="conteiner conteiner_banner">
                <div class="square"></div>
                <div class="slider">
                    <div class="the_brand">THE BRAND</div>
                    <div class="luxer">OF LUXERIOUS&nbsp<span>FASHION</span></div>
                </div>
            </div>
        </section>
        <div class="photos">
            <section class="conteiner conteiner_photos">
                <article>
                    <h3>HOT DEAL<br><span>FOR MEN</span></h3>
                    <img src="../images/Layer_30.png" alt="">
                </article>
                <article>
                    <h3>LUXIROUS & trendy<br><span>ACCESORIES</span></h3>
                    <img src="../images/2-layers.jpg" alt="">
                </article>
                <article>
                    <h3>30% offer<br><span>women</span></h3>
                    <img src="../images/Layer_32.png" alt="">
                </article>
                <article>
                    <h3>new arrivals<br><span>FOR kids</span></h3>
                    <img src="../images/Layer_31.png" alt="">
                </article>
            </section>
        </div>
        <aricle class="fetured_items">
           <div class="conteiner_fetured_items">
               <h1>Fetured Items</h1>
               <h2>Shop for items based on what we featured in this week</h2>
           </div>
        </aricle>
        <section class="products">
            <div class="conteiner conteiner_product">
                <div>
                    <a href="#">
                        <img class="product_image" src="../images/Layer_5.png" alt="">
                        <h1>Mango  People  T-shirt</h1>
                        <h2>$52.00</h2>
                    </a>
                    <a href="#" class="add">
                        <img src="../images/cart.png" alt="">
                        Add to Cart
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img class="product_image" src="../images/Layer_6.png" alt="">
                        <h1>Mango  People  T-shirt</h1>
                        <h2>$52.00</h2>
                    </a>
                    <a href="#" class="add">
                        <img src="../images/cart.png" alt="">
                        Add to Cart
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img class="product_image" src="../images/Layer_7.png" alt="">
                        <h1>Mango  People  T-shirt</h1>
                        <h2>$52.00</h2>
                    </a>
                    <a href="#" class="add">
                        <img src="../images/cart.png" alt="">
                        Add to Cart
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img class="product_image" src="../images/Layer_5.png" alt="">
                        <h1>Mango  People  T-shirt</h1>
                        <h2>$52.00</h2>
                    </a>
                    <a href="#" class="add">
                        <img src="../images/cart.png" alt="">
                        Add to Cart
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img class="product_image" src="../images/Layer_6.png" alt="">
                        <h1>Mango  People  T-shirt</h1>
                        <h2>$52.00</h2>
                    </a>
                    <a href="#" class="add">
                        <img src="../images/cart.png" alt="">
                        Add to Cart
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img class="product_image" src="../images/Layer_7.png" alt="">
                        <h1>Mango  People  T-shirt</h1>
                        <h2>$52.00</h2>
                    </a>
                    <a href="#" class="add">
                        <img src="../images/cart.png" alt="">
                        Add to Cart
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img class="product_image" src="../images/Layer_8.png" alt="">
                        <h1>Mango  People  T-shirt</h1>
                        <h2>$52.00</h2>
                        <a href="#" class="add">
                            <img src="../images/cart.png" alt="">
                            Add to Cart
                        </a>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img class="product_image" src="../images/Layer_9.png" alt="">
                        <h1>Mango  People  T-shirt</h1>
                        <h2>$52.00</h2>
                        <a href="#" class="add">
                            <img src="../images/cart.png" alt="">
                            Add to Cart
                        </a>
                    </a>
                </div>
            </div>
        </section>
        <div class="all_product">
            <a href="#"><div>Browse All Product &nbsp<i class="fa fa-long-arrow-right" aria-hidden="true"></i></div></a>
        </div>
        <section class="descont">
            <div class="conteiner conteiner_descont">
                <div class="girl">
                    <div class="offer">
                        <h1>30%&nbsp<span>OFFER</span></h1>
                        <h2>FOR WOMEN</h2>
                    </div>
                </div>
                <div class="descont_information">
                    <div class="information">
                        <div class="image_information"><img src="../images/Forma_2.png" alt=""></div>
                        <article class="text_information">
                            <span>Free Delivery</span>
                            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                        </article>
                    </div>
                    <div class="information">
                        <div class="image_information"><img src="../images/Forma_3.png" alt=""></div>
                        <article class="text_information">
                            <span>Sales & discounts</span>
                            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                        </article>
                    </div>
                    <div class="information">
                        <div class="image_information"><img src="../images/Forma_4.png" alt=""></div>
                        <article class="text_information">
                            <span>Quality assurance</span>
                            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="subscribe">
            <div class="conteiner conteiner_subscribe">
                <div class="subscribe_left">
                     <figure class="monologue">
                        <div class="monologue_photo">
                            <img src="../images/Layer_40.png" alt="">
                        </div>
                         <article class="monologue_text">
                             <p>
                                 “Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                                 a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
                             </p>
                                <h5>Bin Burhan</h5><h6>Dhaka, Bd</h6>
                         </article>
                     </figure>
                    <div class="monologue_form">
                        <form class="monologue_form_batton" action="#">
                            <button></button>
                            <button></button>
                            <button></button>
                        </form>
                    </div>
                 </div>
                <div class="subscribe_right">
                    <div class="headline"><h6>Subscribe</h6></div>
                    <div class="subtitle"><h6>FOR OUR NEWLETTER AND PROMOTION</h6></div>
                    <div class="subscribe_line">
                        <form action="#" class="subscribe_form">
                            <input class="user_text" type="email" placeholder="Enter Your Email">
                            <button>
                                 Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="additional_info">
            <div class="conteiner conteiner_info">
                <div class="subinfo_1">
                    <div>
                        <a href="#" class="logo">
                            <img class="logo_img" src="../images/logo.png" alt="logo">
                            BRAN<span class="d_logo">D</span>
                        </a>
                    </div>
                    <div>
                        <p>
                        Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
                        </p>
                        <p>Efficiently plagiarize 24/365 action items and focused infomediaries.
                        Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
                        </p>
                    </div>
                </div>
                <div class="subinfo_2">
                    <div><span>COMPANY</span></div>
                    <div><a href="#">Home</a></div>
                    <div><a href="#">Shop</a></div>
                    <div><a href="#">About</a></div>
                    <div><a href="#">How It Works</a></div>
                    <div><a href="#">Contact</a></div>
                </div>
                <div class="subinfo_2">
                    <div><span>INFORMATION</span></div>
                    <div><a href="#">Tearms & Condition</a></div>
                    <div><a href="#">Privacy Policy</a></div>
                    <div><a href="#">How to Buy</a></div>
                    <div><a href="#">How It Works</a></div>
                    <div><a href="#">Promotion</a></div>
                </div>
                <div class="subinfo_2">
                    <div><span>SHOP CATEGORY</span></div>
                    <div><a class="bem" href="#">Man</a></div>
                    <div><a href="#">Women</a></div>
                    <div><a href="#">Child</a></div>
                    <div><a href="#">Apparel</a></div>
                    <div><a href="#">Brows All</a></div>
                </div>
            </div>
        </section>
        <div class="footer">
            <div class="conteiner conteiner_footer">
                <small class="copy">© 2017  Brand  All Rights Reserved.</small>
                <address class="footer_links">
                    <div><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                    <div><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                    <div><a href="">in</a></div>
                    <div><a href="#"><i class="fa fa-paypal" aria-hidden="true"></i></a></div>
                    <div><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
                </address>
            </div>
        </div>
    </body>
</html>