<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>product</title>
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/style_sass.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <header class="header">
        <div class="conteiner header_conteiner">
            <figure class="header_left">
                <a href="#" class="logo">
                    <img class="logo_img" src="../images/logo.png" alt="logo">
                    BRAN<span class="d_logo">D</span>
                </a>
                <form action="#" class="header_form">
                    <div class="browse">
                        Browse &#9660
                        <div class="search_details_drop_down">
                            <ul class="search_details_drop_down_list">
                                <li class="search_details_drop_down_list_li_gender"><a href="#">Women</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Dresses</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Tops</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Sweaters/Knits</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Jackets/Coats</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Blazers</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Denim</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Leggings/Pants</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Skirts/Shorts</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Accessories</a></li>
                                <li class="search_details_drop_down_list_li_gender"><a href="#">Men</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Tees/Tank tops</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Shirts/Polos</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Sweaters</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Blazers</a></li>
                                <li class="search_details_drop_down_list_li"><a href="#">Jackets/vests</a></li>
                            </ul>
                        </div>
                    </div>
                    <input class="user_text" type="text" placeholder="Search for Item...">
                    <button class="header_button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </figure>
            <figure class="header_right">
                <img src="../images/Forma_1.png" alt="forma_1">
                <a href="#">My Account</a>
            </figure>
        </div>
    </header>
    <nav>
        <div class="conteiner_menu">
            <ul class="menu">
                <li class="menu_list"><a href="#" class="menu_link">Home</a>
                    <div class="nav_drop_box">
                        <div class="nav_drop_box_arrow"></div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                            <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                            </ul>
                            <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                        </div>
                    </div>
                </li>
                <li class="menu_list"><a href="#" class="menu_link">Man</a>
                    <div class="nav_drop_box">
                        <div class="nav_drop_box_arrow"></div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                            <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                            </ul>
                            <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                        </div>
                    </div>
                </li>
                <li class="menu_list"><a href="#" class="menu_link">Women</a>
                    <div class="nav_drop_box">
                        <div class="nav_drop_box_arrow"></div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                            <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                            </ul>
                            <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                        </div>
                    </div>
                </li>
                <li class="menu_list"><a href="#" class="menu_link">Kids</a>
                    <div class="nav_drop_box">
                        <div class="nav_drop_box_arrow"></div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                            <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                            </ul>
                            <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                        </div>
                    </div>
                </li>
                <li class="menu_list"><a href="#" class="menu_link">Accoseriese</a>
                    <div class="nav_drop_box">
                        <div class="nav_drop_box_arrow"></div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                            <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                            </ul>
                            <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                        </div>
                    </div>
                </li>
                <li class="menu_list"><a href="#" class="menu_link">Featured</a>
                    <div class="nav_drop_box nav_drop_box_featured">
                        <div class="nav_drop_box_arrow nav_drop_box_arrow_featured"></div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                            <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>

                            </ul>
                            <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                        </div>
                    </div>
                </li>
                <li class="menu_list"><a href="#" class="menu_link"> Hot Deals</a>
                    <div class="nav_drop_box nav_drop_box_hot_deals">
                        <div class="nav_drop_box_arrow nav_drop_box_arrow_hot_deals"></div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Blazers</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Denim</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Leggings/Pants</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Skirts/Shorts</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Accessories</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                            <h3 class="nav_drop_header nav_drop_header_first">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                        <div class="nav_drop_flex">
                            <h3 class="nav_drop_header">Women</h3>
                            <ul class="nav_drop_header_menu">
                                <li><a href="#" class="nav_drop_header_menu_link">Dresses</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Tops</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Sweaters/Knits</a></li>
                                <li><a href="#" class="nav_drop_header_menu_link">Jackets/Coats</a></li>
                            </ul>
                            <img src="../images/Layer_49.jpg" alt="" class="nav_drop_header_menu_image">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
        <section class="new_arrivals">
            <div class="conteiner conteiner_arrivals">
                <article class="left_arrivals">
                    <div>New Arrivals</div>
                 </article>
                <article class="right_arrivals">
                    <nav>
                        <a href="#">Home</a> / <a href="#">Men</a> / <a href="#"><span class="right_arrivals_last_link">New Arrivals</span></a>
                    </nav>
                </article>
            </div>
        </section>
            <div class="product_selection">
                <section class="conteiner conteiner_product_selection">
                    <nav class="product_selection_drop_menu">
                        <details class="product_selection_drop_menu_detales">
                            <summary class="product_section_drop_menu_summary">Category</summary>
                            <div class="product_selection_details_drop_down">
                                <ul class="product_selection_details_drop_down_list">
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Accessories</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Bags</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Denim</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Hoodies&nbsp&&nbspSweatshirts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Jackets&nbsp&&nbspCoats</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Pants</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Polos</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Shirts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Shoes</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Shorts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Sweaters&nbsp&&nbspKnits</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">T&nbsp-&nbspShirts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Tanks</a></li>
                                </ul>
                            </div>
                        </details>
                        <details class="product_selection_drop_menu_detales">
                            <summary class="product_section_drop_menu_summary">Browse</summary>
                            <div class="product_selection_details_drop_down">
                                <ul class="product_selection_details_drop_down_list">
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Accessories</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Bags</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Denim</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Hoodies&nbsp&&nbspSweatshirts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Jackets&nbsp&&nbspCoats</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Pants</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Polos</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Shirts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Shoes</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Shorts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Sweaters&nbsp&&nbspKnits</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">T&nbsp-&nbspShirts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Tanks</a></li>
                                </ul>
                            </div>
                        </details>
                        <details class="product_selection_drop_menu_detales">
                            <summary class="product_section_drop_menu_summary">Browse</summary>
                            <div class="product_selection_details_drop_down">
                                <ul class="product_selection_details_drop_down_list">
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Accessories</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Bags</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Denim</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Hoodies&nbsp&&nbspSweatshirts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Jackets&nbsp&&nbspCoats</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Pants</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Polos</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Shirts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Shoes</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Shorts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Sweaters&nbsp&&nbspKnits</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">T&nbsp-&nbspShirts</a></li>
                                    <li class="product_selection_details_drop_down_list_li"><a href="#">Tanks</a></li>
                                </ul>
                            </div>
                        </details>
                    </nav>
                    <div class="trending_now_size_price">
                        <div class="trending_now_size_price_block trending_now">
                            <h5>Trending now</h5>
                            <a href="#">Bohemian</a>   &nbsp|&nbsp  <a href="#">Floral</a>  &nbsp  |  &nbsp  <a href="#">Lace</a> <br>
                            <a href="#">Floral</a>  &nbsp  |  &nbsp  <a href="#">Floral</a>   &nbsp |  &nbsp  <a href="#">Bohemian</a>
                         </div>
                        <div class="trending_now_size_price_block size">
                            <h5>Size</h5>
                            <form action="#" classs="checkbox_size">
                                <input type="checkbox" class="checkbox" id="checkbox1">
                                <label for="checkbox1">XXS</label>
                                <input type="checkbox" class="checkbox" id="checkbox2">
                                <label for="checkbox2">XS</label>
                                <input type="checkbox" class="checkbox" id="checkbox3">
                                <label for="checkbox3">S</label>
                                <input type="checkbox" class="checkbox" id="checkbox4">
                                <label for="checkbox4">M</label><br>
                                <input type="checkbox" class="checkbox" id="checkbox5">
                                <label for="checkbox5">L</label>
                                <input type="checkbox" class="checkbox" id="checkbox6">
                                <label for="checkbox6">XL</label>
                                <input type="checkbox" class="checkbox" id="checkbox7">
                                <label for="checkbox7">XXL</label>
                            </form>
                        </div>
                        <div class="trending_now_size_price_block price">
                            <h5>Price</h5>
                            <input type="range" id="range" value="400" step="10"><br>
                            <output name="tesult" for="range"></output>
                        </div>
                        <section class="product_selection_sort">
                            <div>
                                Sort By
                            </div>
                            <select class="select_name">
                                <option value="">Name</option>
                                <option value="">Name1</option>
                                <option value="">Name2</option>
                                <option value="">Name3</option>
                            </select>
                            <div>
                                Show
                            </div>
                            <select class="select_name">
                                <option value="">01</option>
                                <option value="">02</option>
                                <option value="">03</option>
                                <option value="">04</option>
                                <option value="">05</option>
                                <option value="">06</option>
                                <option value="">07</option>
                                <option value="">08</option>
                                <option value="">09</option>
                            </select>
                        </section>
                        <section class="conteiner_product">
                                <div class="product_selection_product">
                                    <a href="#">
                                        <img class="product_image" src="../images/Layer_2.png" alt="">
                                        <h1>Mango  People  T-shirt</h1>
                                        <h2>$52.00</h2>
                                    </a>
                                    <a href="#" class="add">
                                        <img src="../images/cart.png" alt="">
                                        Add to Cart
                                    </a>
                                </div>
                                <div class="product_selection_product">
                                    <a href="#">
                                        <img class="product_image" src="../images/Layer_44.jpg" alt="">
                                        <h1>Mango people T-shirt</h1>
                                        <h2>$52.00</h2>
                                    </a>
                                    <a href="#" class="add">
                                        <img src="../images/cart.png" alt="">
                                        Add to Cart
                                    </a>
                                </div>
                                <div class="product_selection_product">
                                    <a href="#">
                                        <img class="product_image" src="../images/Layer_4.png" alt="">
                                        <h1>Mango  People  T-shirt</h1>
                                        <h2>$52.00</h2>
                                    </a>
                                    <a href="#" class="add">
                                        <img src="../images/cart.png" alt="">
                                        Add to Cart
                                    </a>
                                </div>
                                <div class="product_selection_product">
                                    <a href="#">
                                        <img class="product_image" src="../images/Layer_46.png" alt="">
                                        <h1>Mango  People  T-shirt</h1>
                                        <h2>$52.00</h2>
                                    </a>
                                    <a href="#" class="add">
                                        <img src="../images/cart.png" alt="">
                                        Add to Cart
                                    </a>
                                </div>
                                <div class="product_selection_product">
                                    <a href="#">
                                        <img class="product_image" src="../images/Layer_6.png" alt="">
                                        <h1>Mango  People  T-shirt</h1>
                                        <h2>$52.00</h2>
                                    </a>
                                    <a href="#" class="add">
                                        <img src="../images/cart.png" alt="">
                                        Add to Cart
                                    </a>
                                </div>
                                <div class="product_selection_product">
                                    <a href="#">
                                        <img class="product_image" src="../images/Layer_7.png" alt="">
                                        <h1>Mango  People  T-shirt</h1>
                                        <h2>$52.00</h2>
                                    </a>
                                    <a href="#" class="add">
                                        <img src="../images/cart.png" alt="">
                                        Add to Cart
                                    </a>
                                </div>
                                <div class="product_selection_product">
                                    <a href="#">
                                        <img class="product_image" src="../images/Layer_8.png" alt="">
                                        <h1>Mango  People  T-shirt</h1>
                                        <h2>$52.00</h2>
                                        <a href="#" class="add">
                                            <img src="../images/cart.png" alt="">
                                            Add to Cart
                                        </a>
                                    </a>
                                </div>
                                <div class="product_selection_product">
                                    <a href="#">
                                        <img class="product_image" src="../images/Layer_9.png" alt="">
                                        <h1>Mango  People  T-shirt</h1>
                                        <h2>$52.00</h2>
                                        <a href="#" class="add">
                                            <img src="../images/cart.png" alt="">
                                            Add to Cart
                                        </a>
                                    </a>
                                </div>
                            <div class="product_selection_product">
                                <a href="#">
                                    <img class="product_image" src="../images/Layer_7.png" alt="">
                                    <h1>Mango  People  T-shirt</h1>
                                    <h2>$52.00</h2>
                                </a>
                                <a href="#" class="add">
                                    <img src="../images/cart.png" alt="">
                                    Add to Cart
                                </a>
                            </div>
                            <footer class="trending_now_size_price_footer">
                                <section class="pages">
                                    <a href="#"><article><i class="fa fa-angle-left" aria-hidden="true"></i></article></a>
                                    <a href="#"><article>1</article></a>
                                    <a href="#"><article>2</article></a>
                                    <a href="#"><article>3</article></a>
                                    <a href="#"><article>4</article></a>
                                    <a href="#"><article>5</article></a>
                                    <a href="#"><article>6</article></a>
                                    <a href="#"><article>...20</article></a>
                                    <a href="#"><article><i class="fa fa-angle-right" aria-hidden="true"></i></article></a>
                                </section>
                                <a href="#" class="view__all">
                                    <div class="view__all_block">
                                        <p>View All</p>
                                    </div>
                                </a>
                            </footer>
                        </section>
                    </div>
                </section>
            </div>
            <section class="discont_information_product">
                <div class="conteiner conteiner_discont_information_product">
                    <article>
                        <div><img src="../images/Forma_2.png" alt=""></div>
                        <div class="conteiner_discont_information_product_h">Free Delivery</div>
                        <div class="conteiner_discont_information_product_p">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</div>
                    </article>
                    <article>
                        <div><img src="../images/Forma_3.png" alt=""></div>
                        <div class="conteiner_discont_information_product_h">Sales & discounts</div>
                        <div class="conteiner_discont_information_product_p">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</div>
                    </article>
                    <article>
                        <div><img src="../images/Forma_4.png" alt=""></div>
                        <div class="conteiner_discont_information_product_h">Quality assurance</div>
                        <div class="conteiner_discont_information_product_p">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</div>
                    </article>
                </div>
            </section>
            <div class="subscribe">
                <div class="conteiner conteiner_subscribe">
                    <div class="subscribe_left">
                        <div class="monologue">
                            <div class="monologue_photo">
                                <img src="../images/Layer_40.png" alt="">
                            </div>
                            <article class="monologue_text">
                                <p>
                                    “Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                                    a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
                                </p>
                                <h5>Bin Burhan</h5><h6>Dhaka, Bd</h6>
                            </article>
                        </div>
                        <div class="monologue_form">
                            <form class="monologue_form_batton" action="#">
                                <button></button>
                                <button></button>
                                <button></button>
                            </form>
                        </div>
                    </div>
                    <div class="subscribe_right">
                        <div class="headline"><h6>Subscribe</h6></div>
                        <div class="subtitle"><h6>FOR OUR NEWLETTER AND PROMOTION</h6></div>
                        <div class="subscribe_line">
                            <form action="#" class="subscribe_form">
                                <input class="user_text" type="email" placeholder="Enter Your Email">
                                <button>
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <section class="additional_info">
                <div class="conteiner conteiner_info">
                    <div class="subinfo_1">
                        <div>
                            <a href="#" class="logo">
                                <img class="logo_img" src="../images/logo.png" alt="logo">
                                BRAN<span class="d_logo">D</span>
                            </a>
                        </div>
                        <div>
                            <p>
                                Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
                            </p>
                            <p>Efficiently plagiarize 24/365 action items and focused infomediaries.
                                Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
                            </p>
                        </div>
                    </div>
                    <div class="subinfo_2">
                        <div><span>COMPANY</span></div>
                        <div><a href="#">Home</a></div>
                        <div><a href="#">Shop</a></div>
                        <div><a href="#">About</a></div>
                        <div><a href="#">How It Works</a></div>
                        <div><a href="#">Contact</a></div>
                    </div>
                    <div class="subinfo_2">
                        <div><span>INFORMATION</span></div>
                        <div><a href="#">Tearms & Condition</a></div>
                        <div><a href="#">Privacy Policy</a></div>
                        <div><a href="#">How to Buy</a></div>
                        <div><a href="#">How It Works</a></div>
                        <div><a href="#">Promotion</a></div>
                    </div>
                    <div class="subinfo_2">
                        <div><span>SHOP CATEGORY</span></div>
                        <div><a href="#">Man</a></div>
                        <div><a href="#">Women</a></div>
                        <div><a href="#">Child</a></div>
                        <div><a href="#">Apparel</a></div>
                        <div><a href="#">Brows All</a></div>
                    </div>
                    </div>
                </div>
            </section>
            <div class="footer">
                <div class="conteiner conteiner_footer">
                    <small class="copy">© 2017  Brand  All Rights Reserved.</small>
                    <address class="footer_links">
                        <div><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                        <div><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                        <div><a href="">in</a></div>
                        <div><a href="#"><i class="fa fa-paypal" aria-hidden="true"></i></a></div>
                        <div><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
                    </address>
                </div>
            </div>
    </body>
</html>